.display-inline-block{
    display: inline-block;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.border-box{
    box-sizing: border-box;
}
.uppercase{
    text-transform: $uppercase;
}