/*-----By Boosters@-----*/


//---Colors---

//Background
$btn-bg-color:#e9490a;
$secondary-bg-color: #ffffff;
$appointment-bg-color: rgb(22, 160, 184);

//Text
$main-text-color: #024b6c;
$third-text-color: #ffffff;
$secondary-text-color: rgb(99, 141, 160);
$icons-text-color: rgb(1, 173, 221);

// BOOSTERS TEAM


//Border
$main-border-color: #d8e3e8;
$secondary-border-color: #024b6c;
$btn-border-color: #e9490a;

//---Spacing---

//Between sections
$section_space: 100px;

//Margin
$margin-sm: 2px;
$margin-md: 3px;
$margin-lg: 5px;
$margin-elg: 10px;

//Padding
$padding-sm: 2px;
$padding-md: 3px;
$padding-lg: 5px;
$padding-elg: 10px;

//---Width---

//Sections
$banner_wrapper_width: 1130px;
$introWidth: 350px;
$section-width: 1230px;

//Border
$border-width-sm: 1px;

//---Height---

$textarea-height: 170px;

//Images
$logoHeight: 40px;
$main-height: 600px;

//---Weight---
$normal: 400;
$bold-s: 500;
$bold: 600;


//--Letter Spacing---
$letter_spacing: 0.35px;

//---Image_Url---
$main_bg_image: url(../images/main_bg.png);

//---Border-Radius---
$border-radius-md: 3px;
$border-radius-lg: 5px;