//-----By Boosters@-----//


//Font Sizes
$font-esm: 10px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
$font-elg: 30px;
$font-intro-lg: 45px; 
$font-icons: 82px;

//Fonts

$poppins: "Poppins", sans-serif;
$cabin: 'Cabin', sans-serif;

//Line Heights

$btn_line_height: 35px;
$line_height-esm: 16px;
$line_height-nm: 24px;
$line_height-sm: 40px; 
$line_height-md: 50px; 
$line_height-lg: 90px; 

//Text Transformation

$uppercase: uppercase;
$lowercase: lowercase;